@media(max-width: 800px){
    .img{
        display: none;
    }
    #content{
        margin-left: 0;
    }
    #vision{
        font-size: 15px;
        padding: 10px;
        margin-bottom: 10px;
        text-align: center;    
    }
    .text{
        margin-bottom: -60px;
    }

}
@media(max-width: 500px){
.text{
    font-size: 12px;
}
h1{
    font-size: 45px;
}
#content{
    margin-left: 0;
    width: 300px;
}
}